.FooterSectionContainer {
  display: grid;
  margin-top: 50px;
  margin: auto;
  column-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  padding: 0 30px;

  a {
    color: #000;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
  }

  ul {
    list-style: none;

    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 17px;
  }
}
@media screen and (min-width: 768px) {
  .FooterSectionContainer {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    column-gap: 100px;
  }
}

.companyFooterDetailSectionContainer {
  .sectionName {
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}

.companyDetailContainer {
  font-family: Open Sans;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.companyContactIconSectionContainer ul {
  display: flex;
  column-gap: 20px;
}

.companyContactIconSectionContainer ul {
  list-style: none;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.itemCatalogSectionContainer ul {
  list-style: none;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.itemCatalogSectionContainer ul li a {
  text-decoration: none;
  align-items: flex-start;
}

.aboutCompanySectionContainer ul {
  list-style: none;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.aboutCompanySectionContainer ul li a {
  text-decoration: none;
  align-items: flex-start;
}

.paymentMethodContainer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0 10px;

  background-color: rgb(5, 5, 55);
}

.paymentMethodSection {
  display: flex;

  a {
    text-decoration: none;
    padding: 15px;
  }

  img {
    width: 100px;
    object-fit: cover;
  }
}

.bottomSectionContainer {
  background-color: #0000001b;
  padding: 20px;
}
