.HomePageSection {
  display: grid;
  align-items: center;
}

.heroSection {
  display: block;
  justify-content: center;
  padding: 0;
  background-color: #f4f4f5;

  .heroImage {
    padding-left: 30%;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    img {
      width: 100%;
      object-fit: cover;
      width: 424px;
      height: 542px;
      background-color: #ffffff;
      border-top-left-radius: 40%;
      border-bottom-right-radius: 40%;
    }
  }

  .heroText {
    color: #1e2832;

    padding-right: 20%;
    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 74px;
      font-style: normal;
      font-weight: 300;
      line-height: 55px;
      text-transform: capitalize;
    }
    P {
      font-family: Roboto;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 55px;
      text-transform: capitalize;
    }
    a {
      font-family: "Roboto";
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 55px;
      text-transform: capitalize;
      text-decoration: none;
    }
  }

  @media screen and (min-width: 768px) {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    .heroImage {
      padding-left: 0;
      display: flex;
      padding-bottom: 0;
      flex-direction: column;
      align-items: center;
    }

    .heroText {
      padding-right: 0;
      padding-left: 294px;
    }
  }
}
